* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

header {
  background-color: black;
  color: #e50f14;
  padding: 2rem 0;
  text-transform: uppercase;
}

main {
  background-color: #151515;
  padding: 4rem 0;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .container .card {
  width: 200px;
  height: 300px;
  position: relative;
  margin: 2rem;
  border-radius: 5px;
}

main .container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

main .container .card .card-body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

main .container .card .card-body .card-text {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  font-style: italic;
}

main .container .card .card-body .vote {
  margin-top: 1.5rem;
}

main .container .card:hover .card-body {
  display: block;
  cursor: pointer;
  box-shadow: 0 3px 10px lightgray;
}

